node_modules
.git
.expo
android/build
android/.gradle
*.apk
*.aab
.vscode
docs
*.md
downloaded_auto.jpg
backend
.env
.env.example
package-lock.json
*.zip
*.jpg
*.png
*.gif
*.jpeg
assets/AppIcons*
assets/*.zip
*.bat
*.sh
*.ini
*.yml
*.txt
*.html
logs
*.log
coverage
.nyc_output
android/app/build
android/.kotlin
*.zip
*.jpg
*.png
*.gif
*.jpeg
assets/AppIcons*
assets/*.zip
*.bat
*.sh
*.ini
*.yml
*.txt
*.html
logs
*.log
coverage
.nyc_output
